/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/siete.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: rgb(221, 226, 221);
    }
    .error{
        background-image: url("./assets/error2.gif");
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 79%;
        background-position:center;
    }