<form [formGroup] = "fgValidador" (ngSubmit)="IdentificarUsuario()">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Iniciar Sesion </h2>
          <h2 class="inactive underlineHover">Registrarse</h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="./assets/TECNOVENT.png" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          
            <input formControlName = 'usuario' type="text" id="login" class="fadeIn second" name="login" placeholder="Correo">
            <input formControlName = 'clave' type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input [disabled] = "!fgValidador.valid" type="submit" class="fadeIn fourth" value="Ingresar">
      
        </div>
      </div>
</form>