<h1 style="text-align: center; font-family: cursive;">BIENVENIDOS A VENTA DE PRODUCTOS METAVERSO</h1>
<br>
<h4 style="text-align: center;font-style: italic;">Pagina diseñada para la venta de productos y respuestos tecnologicos utilez para la ultima generacion diseñados para el metaverso.</h4>
<br>
<br>
<div class="transition"> 
    <marquee  behavior="alternate" scrolldelay="1" scrollamount="14" direction="left" loop="infinite" onmouseout="this.start()" onmouseover="this.stop()"><img src="./assets/uno.png" alt="uno" width="200" height="200" HSPACE="40">
<img src="./assets/dos.png" alt="uno" width="200" height="200" HSPACE="40">
<img src="./assets/tres.png" alt="uno" width="200" height="200" HSPACE="40">
<img src="./assets/cuatro.png" alt="uno" width="200" height="200" HSPACE="40">
<img src="./assets/cinco.jpg" alt="uno" width="200" height="200" HSPACE="40">
<img src="./assets/seis.png" alt="uno" width="200" height="200" >
</marquee>
</div>


